/* Headings styles */

.page-heading {
	box-sizing: border-box;
	color: #808080;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 4vh;
	letter-spacing: 3px;
	margin-top: 0;
	padding: 0 4vw;
	text-align: start;
	width: 100%;
}

.section-heading {
	color: #808080;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3vh;
	letter-spacing: 2px;
	margin-bottom: 1vh;
	margin-top: 1vh;
	text-align: start;
	width: 100%;
}

/* Cards styles */

.info-card {
	box-sizing: border-box;
	display: flex;
	padding: 1vh 2vw;
	width: 100%;
}

/* Badges styles */

.field-badge {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7vh;
	letter-spacing: 2px;
}

.skill-badge {
	background: #202020;
	border-radius: 25px;
	color: #fff;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7vh;
	margin-right: 0.5vw;
	margin-top: 1vh;
	padding: 0.5vh 1vh;
}

/* Textboxes styles */

.text-box {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6vh;
}

.bullet-box {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6vh;
	margin: 0 0.5vh;
}

/* Dividers styles */

.badge-divider {
	font-family: 'Roboto', sans-serif;
	font-size: 2vh;
	letter-spacing: 5px;
}

.box-divider {
	margin: 1.5vh 0;
	width: 100%;
}

/* Buttons styles */

.carousel-button {
	background: none;
	border: 1px solid #000;
	border-radius: 50px;
	color: #000;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 2vh;
	font-weight: bold;
}

.carousel-button:hover {
	background: #202020;
	border: 1px solid #202020;
	color: #f9f9f9;
}

.carousel-button:active {
	background: #202020;
	border: 1px solid #202020;
	color: #f9f9f9;
}

@media screen and (max-width: 1000px) {
	/* Headings styles */

	.page-heading {
		margin-top: 3vh;
		text-align: center;
	}

	.section-heading {
		margin-top: 3vh;
		text-align: center;
	}

	/* Badges styles */

	.field-badge {
		display: block;
		margin-top: 0.5vh;
		width: 100%;
	}

	/* Dividers styles */

	.badge-divider {
		display: none;
	}

	/* Buttons styles */

	.carousel-button {
		font-size: 3vh;
		height: 5vh;
		width: 5vh;
	}
}

/* Variation styles */

.black {
	color: #000;
}

.dark-grey {
	color: #606060;
}

.white {
	color: #fff;
}

.light-grey {
	color: #c1c1c1;
}

.grey {
	color: #808080;
}

.bold {
	font-weight: bold;
}

.border-white {
	border: 0.1px solid #fff;
}

.border-grey {
	border: 0.1px solid #808080;
}

.centered {
	margin: 0 1vw;
}
